@import 'breakpoints';

.accordion-item {
	$parent: &;

	border-bottom: 1px solid rgba(255, 255, 255, 0.6);

	&__head {
		cursor: pointer;
		position: relative;
		padding: 15px 20px 15px 0;
	}

	&:not(:first-child) {
		#{$parent}__head {
			margin-top: 10px;
		}
	}

	&__title {
		color: inherit;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}

	&__arrow {
		width: 10px;
		height: 10px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		transition: transform 0.3s;
	}

	&.active {
		#{$parent}__title {
			// TODO: this
			// color: green;
		}

		#{$parent}__arrow {
			transform: translate(0, -50%) rotate(180deg);
		}
	}

	&__body {
		padding: 10px 0;
	}
}
